<main>
  <section class="row justify-center">
    <div class="card-column">
      <figure class="card code-card">
        <h2 class="card-header">user num1</h2>
        <button class="card-button" type="button">Go to the page</button>
        <pre class="code-block">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</pre>
      </figure>
    </div>
    <div class="card-column">
      <figure class="card code-card">
        <h2 class="card-header">user num2</h2>
        <button class="card-button" type="button">Go to the page</button>
        <pre
          class="code-block">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years Extremes of Good and Evil by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</pre>
      </figure>
    </div>

    <div class="card-column">
      <figure class="card code-card">
        <h2 class="card-header">user num3</h2>
        <button class="card-button" type="button">Go to the page</button>
        <pre
          class="code-block">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </pre>
      </figure>
    </div>
    <div class="card-column">
      <figure class="card code-card">
        <h2 class="card-header">user num4</h2>
        <button class="card-button" type="button">Go to the page</button>
        <pre class="code-block">
    bThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly  tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</pre>
      </figure>
    </div>
    <div class="card-column">
      <figure class="card code-card">
        <h2 class="card-header">user num5</h2>
        <button class="card-button" type="button">Go to the page</button>
        <pre
          class="code-block">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </pre>
      </figure>
    </div>

    <div class="card-column">
      <figure class="card code-card">
        <h2 class="card-header">user num6</h2>
        <button class="card-button" type="button">Go to the page</button>
        <pre
          class="code-block">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is  and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </pre>
      </figure>
    </div>
  </section>
</main>