<div class="container my-2" id="user-cards">
    <div class="bg-dark text-white position-relative" id="like-bar" style="width: 30px">
        <button type="button" class="btn btn-primary position-absolute top-0 start-0 bg-transparent border-0 p-0 pt-2"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/microsoft/310/thumbs-up_1f44d.png" alt="like" width="30px"></button>
        <button type="button" class="btn btn-primary position-absolute bottom-0 start-0 bg-transparent border-0 p-0 pb-2"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/microsoft/310/thumbs-down_1f44e.png" alt="like" width="30px"></button>
    </div>
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>