<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}

<h1>welcome{{post.nameOf}} </h1>

<h2>{{post.title}}</h2>
<!--this is our post creating page-->
<p>
  {{post.id }}
  {{post.post}}
</p>

{{/each}}



<!--i did not delete the top this page is going to be post page-->

<section class="comments" id="comments">

  <div class="form-group">
    <label for="project-name">
      <h2> post title: </h2>
    </label>
    <input class="form-input" type="text" id="project-name" name="project-name" />
  </div>

  <h2>Post: </h2>
  <label message="message" class="message">
    <textarea id="message"></textarea>
  </label>
  <input class="button" type="submit" value="post">

</section>